{% extends layout %}

{% block content %}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1>Thibaud</h1>
                <div class="lead">
                    Chef de projet / Développeur
                </div>
                <div class="lead">
                    <span class="highlighted">
                    <strong><a href="http://www.zend.com/fr/store/education/certification/authenticate.php/ClientCandidateID/ZEND013240/RegistrationID/234368098"
                           target="_blank">Zend Certified Engineer PHP5</a></strong></span>, fasciné par les architectures open-sources
                    <span class="highlighted">PHP</span> /
                    <span class="highlighted">Symfony2</span> /
                    <span class="highlighted">Zend Framework</span> /
                    <span class="highlighted">Python</span> /
                    <span class="highlighted">Node.js</span>,
                    fan de création et de développement front-end
                    <span class="highlighted">HTML5 + CSS3</span> /
                    <span class="highlighted">Javascript</span> /
                    <span class="highlighted">Backbone.js</span> /
                    <span class="highlighted">Grunt</span>.
                </div>
            </div>
        </div>
    </div>
</section>

<div class="bordered-color">
    <div class="border orange"></div><div class="border blue"></div><div class="border green"></div>
</div>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1>Contact</h1>
                <div class="lead">
                    Restons en <strong>contact</strong> !
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <h2>
                            Intéressé par mes compétences<br />
                            ou simplement une question, un commentaire, une idée ?
                        </h2>
                        <p>
                            Envoyez-moi un message par courrier électronique ou via le formulaire, je vous répondrai au plus vite.
                        </p>
                        <ul class="fa-ul">
                            <li>
                                <i class="fa-li fa fa-home inverse"></i>
                                <span class="inverse">Paris</span>
                            </li>
                            <li>
                                <a href="mailto:thibaud@groovinmove.com">
                                    <i class="fa-li fa fa-envelope inverse"></i>
                                    thibaud@groovinmove.com
                                </a>
                            </li>
                            <li>
                                <a href="http://www.thibaudanthoine.com">
                                    <i class="fa-li fa fa-globe inverse"></i>
                                    www.thibaudanthoine.com
                                </a>
                            </li>
                        </ul>
                        <ul class="social-icons">
                            <li>
                                <a href="http://www.linkedin.com/in/thibaudanthoine"
                                   target="_blank"><i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://github.com/thibaudanthoine"
                                   target="_blank"><i class="fa fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.twitter.com/thibaudanthoine"
                                   target="_blank"><i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.flickr.com/thibaudanthoine"
                                   target="_blank"><i class="fa fa-flickr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-6">
                        <form method="post" action="{{ app.url_generator.generate('contact') }}"
                              id="ajax-contact-form" role="form">
                            <div class="form-group">
                                <div class="col-xs-12 col-md-12">
                                    {{ form_widget(form.name) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-md-12">
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-md-12">
                                    {{ form_widget(form.subject) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-md-12">
                                    {{ form_widget(form.message) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-md-12">
                                    <div class="btn-group">
                                        <button type="submit" class="btn">Submit</button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="reset" class="btn">Reset</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="bordered-color">
    <div class="border orange"></div><div class="border blue"></div><div class="border green"></div>
</div>

<section id="media">
    <div class="container">
        <div class="row" id="media-container">
            <i class='icon-spinner icon-spin icon-large'></i>
        </div>
    </div>
</section>

<div class="bordered-color">
    <div class="border orange"></div><div class="border blue"></div><div class="border green"></div>
</div>
{% endblock %}