<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <meta name="description" content="Thibaud Anthoine - Consultant technique Web / Lead dev"/>
        <meta name="keywords" content="Lead développeur, développeur web, developpeur, web developer, dev, lead dev, php, python, symfony2, symfony, js, angularjs"/>
        <meta name="author" content="Thibaud Anthoine"/>
        <meta name="generator" content="Thibaud Anthoine"/>
        <meta name="robots" content="index,follow"/>
        <meta name="google-site-verification" content="0xwR_9Zn6ylz0dCw4KEa3tyNG39mgMqZQOX8eyg7s7I"/>

        <title>Thibaud</title>
        <link rel="shortcut icon" href="{{ app.request.basepath }}/../dist/img/favicon.ico" type="image/x-icon"/>
        <link rel="canonical" href="http://www.thibaudanthoine.com"/>

        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/../dist/css/style.min.css"/>
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
   
        <!-- start Mixpanel -->
        <script type="text/javascript">
            (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
            for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
            mixpanel.init("10a83749ff53603562adb6170c4b51a0");
        </script>
        <!-- end Mixpanel -->

        <!-- start of Zopim Live Chat Script -->
        <script type="text/javascript">
            window.$zopim||(function(d,s){
                var z=$zopim=function(c){z._.push(c)},$=z.s=d.createElement(s),e=d.getElementsByTagName(s)[0];
                z.set=function(o){
                    z.set._.push(o)
                };
                z._=[];z.set._=[];
                $.async=!0;$.setAttribute('charset','utf-8');
                $.src='//v2.zopim.com/?2Zy8V0muYdmsuc9AucAH0GIn6iFyDmGU';
                z.t=+new Date;
            $.type='text/javascript';e.parentNode.insertBefore($,e)
            })(document,'script');
        </script>
        <!-- end of Zopim Live Chat Script -->
 
   </head>

    <body>

        <figure class="avatar-wrapper">
            <a href="/" style="background-image: url('{{ app.request.basepath }}/../dist/img/linkedin.jpg')"
               class="user-avatar navbar-brand" title="Là c'est moi">
                <img src="{{ app.request.basepath }}/../dist/img/tib.jpg" alt="Thibaud" class="invisible"/>
            </a>
        </figure>

        <div class="navbar navbar-inverse navbar-fixed-top" id="header" role="navigation">
            <div class="navbar-inner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"
                                data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!--<a class="navbar-brand"></a>-->
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#about" class="active">Accueil</a></li>
                            <li><a href="#about">A propos</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li><a href="#media">Photos</a></li>
                            <li><a href="http://github.com/thibaudanthoine" target="_blank">GitHub</a></li>
                            <li><a href="http://www.groovinmove.com" target="_blank">Drum loops</a></li>
                            <li><a href="http://www.patriceanthoine.fr" target="_blank">Patrice Anthoine</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}

        <footer>
            <a href="#about">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-angle-double-up fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <div class="copyright">
                &copy; 2014 Thibaud
                <a href="#">Made with Silex, HTML5, CSS3, Javascript, Node, Grunt, Sass and Compass.</a>
            </div>
        </footer>

        <script type="text/javascript" src="{{ app.request.basepath }}/../dist/js/script.min.js"></script>
        <script type="text/javascript">
        $(function() {

	    // track event
	    mixpanel.track('Hello from index');
	    
	    // tracking nav link
	    mixpanel.track_links("#header .nav a", "click nav link", {
           	"referrer": document.referrer
    	    });

            disabledSubmit = function() {
                $('#ajax-contact-form').find('button[type=submit]').attr('disabled', 'disabled');
                $('#ajax-contact-form').find('button[type=submit]').html('Sending...');
            };

            enabledSubmit = function() {
                $('#ajax-contact-form').find('button[type=submit]').attr('disabled', false);
                $('#ajax-contact-form').find('button[type=submit]').html('Submit');
            };

            $('#ajax-contact-form').submit(function(e) {
                e.preventDefault();
                disabledSubmit();
                $.ajax({
                    type: 'post',
                    url: '{{ app.url_generator.generate('contact') }}',
                    data: $('#ajax-contact-form').serialize(),
                    success: function(json) {
                        alertify.success(json.message);
                        enabledSubmit();
                        $('#ajax-contact-form input, #ajax-contact-form textarea').each(function() {
                            $(this).val('');
                        });
                    },
                    error: function(json) {
                        alertify.error(json.responseJSON.message);
                        enabledSubmit();
                    }
                });
            });

            $.ajax({
                type: 'get',
                url: '{{ app.url_generator.generate('media') }}',
                success: function(html) {
                    $('#media-container').html(html);
                },
                error: function(json) {}
            });
        });
        </script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-23217273-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www')
                    + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
